mixin btn(options = {})
  - const tag = options.href ? "a" : "button";
  - const classMods = options.classMods?.map((mod) => {return "btn--" + mod}) || false;
  - const href = options.href || false;
  - const text = options.text || "";
  - const type = options.type || tag === "button" ? options.type || "button" : false;
  - const target = options.isExternal ? "_blank" : false;
  - const rel = options.isExternal ? "nofollow noopener noreferrer" : false;
  - const ariaLabel = options.ariaLabel || false;

  #{tag}.btn(class=classMods, href=href, target=target, rel=rel type=type, aria-label=ariaLabel)&attributes(attributes)!=text
