mixin custom-textarea(options = {})
  - const classMods = options.classMods?.map((mod) => `custom-textarea--${mod}`) || false
  - const inputLabel = options.inputLabel || false
  - const inputPlaceholder = options.inputPlaceholder || false
  - const inputId = options.inputId || false
  - const inputName = options.inputName || false
  - const inputValue = options.inputValue || false
  - const inputMinLength = options.inputMinLength || false
  - const inputMaxLength = options.inputMaxLength || false

  .custom-textarea(class=classMods)&attributes(attributes)
    label
      if inputLabel
        span.custom-textarea__label!=inputLabel
      textarea(id=inputId, name=inputName, value=inputValue, minlength=inputMinLength, maxlength=inputMaxLength, placeholder=inputPlaceholder)
