mixin custom-input(options = {})
  - const classMods = options.classMods?.map((mod) => `custom-input--${mod}`) || false
  - const inputLabel = options.inputLabel || false
  - const inputPlaceholder = options.inputPlaceholder || false
  - const inputType = options.inputType || "text"
  - const inputId = options.inputId || false
  - const inputName = options.inputName || false
  - const inputValue = options.inputValue || false
  - const inputMinLength = options.inputMinLength || false
  - const inputMaxLength = options.inputMaxLength || false
  - const inputAccept = options.inputAccept || false

  .custom-input(class=classMods)&attributes(attributes)
    label
      if inputLabel
        span.custom-input__label!=inputLabel
      input(type=inputType, id=inputId, name=inputName, value=inputValue, minlength=inputMinLength, maxlength=inputMaxLength, placeholder=inputPlaceholder, accept=inputAccept)
