mixin link(options = {})
  - const tag = options.href ? "a" : "button";
  - const classMods = options.classMods?.map((mod) => {return "link--" + mod}) || false;
  - const href = options.href || false;
  - const text = options.text || "";
  - const type = options.type || tag === "button" ? options.type || "button" : false;
  - const target = options.isExternal ? "_blank" : false;
  - const rel = options.isExternal ? "nofollow noopener noreferrer" : false;
  - const {name, width, height} = options.icon || false;

  #{tag}.link(class=classMods, href=href, target=target, rel=rel, type=type)&attributes(attributes)!=text
    if options.icon
      +icon(name, width, height)
